#footer {
    width: calc(100% - 8px); /* Ekstra 8 piksel alan sağlamak için */
    max-width: 1000px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: #ccc; /* Beyaz yerine gri tonu */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto 0;
    border-radius: 10px;
    position: relative;
    font-family: "Times New Roman", Times, serif; /* Times New Roman fontu eklendi */
    font-weight: 700; /* Kalın font */
    text-align: center; /* Orta hizalama */
    overflow: hidden; /* İçeriğin çizginin dışına taşmasını engelle */
    border: 2px solid rgb(140, 22, 236); /* Çerçeve rengi */
}

.footer-item {
    max-height: 200px;
    font-family: "Times New Roman", Times, serif; /* Times New Roman fontu eklendi */
    font-weight: 700; /* Kalın font */
    text-align: center; /* Orta hizalama */
}

#solfooter {
    float: left; /* Sol tarafa yapıştır */
    margin: 2px auto 0;
    text-align: center;
}

#ortafooter {
    margin-left: 15px; /* Soldan boşluk bırak */
    text-align: center;
}

#sagfooter {
    float: right; /* Sağ tarafa yapıştır */
    margin: 2px auto 0;
    text-align: center;
}

#ortafooter img {
    max-width: 50px;
    max-height: 50px;
}

/* Mor neon ışık efekti */
#footer p {
    text-shadow: 0 0 1px #bb1cff;
}

/* Bağlantı stilleri */
#footer a {
    text-decoration: none; /* Bağlantı altı çizgisini kaldır */
    color: #ccc; /* Bağlantı rengi gri tonu */
}

#footer a:hover {
    color: #fff; /* Fare üzerine gelindiğinde bağlantı rengini beyaza çevir */
}
