#footer {
    max-width: 100%;
    height: 205px;
    background-color: #4c6e93;
    color: #ccc; /* Beyaz yerine gri tonu */
    display: flex;
    flex-direction: column; /* Elemanları dikey olarak sırala */
    align-items: center; /* Yatayda ortala */
    justify-content: center; /* Dikeyde ortala */
    margin: 70px auto 0;
    position: relative;
    font-weight: 700; /* Kalın font */
    text-align: center; /* Orta hizalama */
    overflow: hidden; /* İçeriğin çizginin dışına taşmasını engelle */
}

.footer-item {
    max-height: 100px;
    font-weight: 700; /* Kalın font */
    text-align: center; /* Orta hizalama */
}


/* Mobil cihazlar için stiller */
@media (max-width: 768px) {
    #footer {
        font-size: 10px; /* Mobil cihazlar için yazı boyutu */
        width: 95%; /* Mobil cihazlar için slider genişliği yüzde 90 */
        margin: 5px auto; /* Sayfanın ortasında olacak şekilde otomatik kenar boşluğu */
    }
}
