#icerik-div {
    position: relative;
    background-color: #f0f1f2;
    width: 1000px;
    min-height: auto;
    margin: 5px auto 0; 
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 2px 4px  #000000;


    @media (max-width: 768px) {
        width: 95%; 
        height: auto; 
        margin: 5px auto;
    }
}

#icerik-div > div {
    height: 100%;
}

