#icerik-div {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    min-height: 500px; /* Minimum yükseklik */
    margin: 5px auto 0; /* Slider'dan 5 pixel aşağıda olacak */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Taşmayı engelle */

    /* Mobil cihazlar için */
    @media (max-width: 768px) {
        width: 90%; /* Mobil cihazlar için genişlik ayarı */
        height: auto; /* Mobil cihazlar için yükseklik otomatik ayarı */
        margin: 5px auto;
    }
}

#icerik-div > div {
    height: 100%;
}
