/* 4. kod */
#menu-div {
    width: 1000px;
  
    height: 150px;
    background-color: rgb(255, 255, 255);
    margin: 5px auto 0;
    border-radius: 10px;
    padding: 2px 0;
    display: flex;
    position: sticky; /* Menü div sayfanın üstünde yapışacak şekilde ayarlandı */
    top: 0; /* Sayfanın üst kısmına yapışacak */

    /* Mobil cihazlar için */
    @media (max-width: 768px) {
        width: 90%; /* Mobil cihazlar için genişlik ayarı */
        height: auto; /* Mobil cihazlar için yükseklik otomatik ayarı */
        margin: 5px auto;
        flex-direction: column; /* Menü öğelerini dikey olarak sırala */
    }
}

#menu-div .menuitem {
    position: relative;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px; /* Sağ ve sol kenarlarda 2 piksel boşluk bırakma */
    border-radius: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease; /* Animasyon süresi ve geçiş türü */
    filter: brightness(90%); /* İlk durumda biraz koyulaştırma */

    /* Mobil cihazlar için */
    @media (max-width: 768px) {
        width: 100%; /* Mobil cihazlar için genişlik ayarı */
        height: 50px; /* Mobil cihazlar için yükseklik ayarı */
    }
}

#menu-div .menuitem:hover {
    transform: scale(1.02); /* Boyut büyütme */
    filter: brightness(150%); /* Tam parlaklık */
}

#menu-div .menuitem::after {
    content: attr(data-content); /* Harf içeriği */
    color: white; /* Renk */
    font-size: 25px; /* Font büyüklüğü */
    font-weight: bold; /* Kalınlık */
    position: absolute; /* Pozisyon */
    top: 50%; /* Üst kenar */
    left: 50%; /* Sol kenar */
    transform: translate(-50%, -50%); /* Tam orta */
    pointer-events: none; /* Harf üzerine tıklanabilirliği kapat */
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px rgba(128, 0, 128, 0.5); /* Beyaz neon ışık %50 daha kısık */

    /* Mobil cihazlar için */
    @media (max-width: 768px) {
        font-size: 15px; /* Mobil cihazlar için font büyüklüğü */
    }
}

#menu-div .menuitem:nth-child(1)::after {
    content: 'Classical'; /* Harf içeriği */
}

#menu-div .menuitem:nth-child(2)::after {
    content: 'Acoustic'; /* Harf içeriği */
}

#menu-div .menuitem:nth-child(3)::after {
    content: 'Cinematic'; /* Harf içeriği */
}

#menu-div .menuitem:nth-child(4)::after {
    content: 'Electronic'; /* Harf içeriği */
}

#menu-div .menuitem:nth-child(5)::after {
    content: 'Chillhop'; /* Harf içeriği */
}
