#ust-div {
    width: 1000px;
    background-color: black;
    height: 80px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;

}

#banner-div {
    background-color: rgb(140, 22, 236);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 200px;
}

#banner-div img {
    position: absolute;
    bottom: 0;
    left: 0;
}

#icon-div {
   
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: flex-end; /* Resimlerin alt tarafa yapışması */
    justify-content: flex-end;
    margin-right: 15px;
}

#icon-div img {
    max-width: 25px;
    max-height: 25px;
    margin-left: 6px;
    margin-bottom: 2px; /* Resimlerin alt boşluk ayarı */
    transition: transform 0.3s ease;
}

#icon-div img:hover {
    transform: scale(1.1);
}

/* Mobil Uyum */
@media screen and (max-width: 768px) {
    #ust-div {
        width: 90%; /* Mobil cihazlar için genişlik ayarı */
        height: 50px; /* Mobil cihazlar için yükseklik otomatik ayarı */
        margin: 5px auto;
    }

    #banner-div {
        width: 50%; /* Mobil cihazlar için genişlik ayarı */
        height: 50px; /* Mobil cihazlar için yükseklik otomatik ayarı */
    }

    #icon-div {
        width: 50%; /* Mobil cihazlar için genişlik ayarı */
        height: 50px; /* Mobil cihazlar için yükseklik otomatik ayarı */
        margin-right: 1px;
        border-radius: 10px;
     
    }

    #icon-div img {
        max-width: 13px; /* Mobil cihazlar için genişlik ayarı */
        max-height: auto; /* Mobil cihazlar için yükseklik otomatik ayarı */
        margin-bottom: 1.5px; /* Mobil cihazlar için alt boşluk ayarı */

    }
}
