#ust-div {
    width: 1000px;
    background-color: black;
    height: 80px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
}

#banner-div {
    background-color: rgb(140, 22, 236);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 200px;
}

#icon-div {
    background-color: rgb(140, 22, 236);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

#icon-div img {
    max-width: 25px;
    max-height: 25px;
    margin-left: 6px;
    margin-top: auto;
    transition: transform 0.3s ease;
}

#icon-div img:hover {
    transform: scale(1.1);
}

/* Mobil Uyum */
@media screen and (max-width: 768px) {
    #ust-div {
        width: 90%; /* Mobil cihazlar için genişlik ayarı */
        height: 50px; /* Mobil cihazlar için yükseklik otomatik ayarı */
        margin: 5px auto;
    }
}

/* Mobil Uyum */
@media screen and (max-width: 768px) {
    #banner-div {
        width: 50%; /* Mobil cihazlar için genişlik ayarı */
        height: 50px; /* Mobil cihazlar için yükseklik otomatik ayarı */
   
    }
}

/* Mobil Uyum */
@media screen and (max-width: 768px) {
    #icon-div {
        display: none; /* Mobilde bannerı kaldır */
    }

    #icon-div img {
        display: none; /* Mobilde bannerı kaldır */
    }
}
