@keyframes neon {
    0% {
        text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow, 0 0 80px yellow;
    }
    50% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow, 0 0 80px yellow;
    }
}

header h1 {
    animation: neon 1s infinite alternate;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image: url("images/dj.png"); /* Genel arka plan resmi */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #001; /* Arka plan rengi koyu bir ton olsun */
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    color: white;
    padding: 10px;
    text-align: center;
    height: 100px; /* Header yüksekliği */
    overflow: hidden; /* Header yüksekliği aşıldığında gizleme */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 0, 0.3);
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 0.8rem;
}

div {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 0, 0.3);
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    border-top: 2px solid rgba(255, 255, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 0, 0.3);
    height: 80px; /* Yeni footer yüksekliği */
}

#icerik {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 20px;
    margin-top: 19px;
}

#musiccalar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#musicList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    max-height: 420px;
    overflow-y: auto;
}

#musicList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 5px; /* Sol ve sağ boşluklar */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 14px;
    position: relative;
}

#musicList li span {
    flex-grow: 1; /* Yazıların genişliğini maksimuma al */
    padding-right: 5px; /* Sağ taraftan 5 piksel boşluk */
}

#musicList li .download-icon,
#musicList li .youtube-icon {
    width: 20px; /* İkon boyutu */
    height: 20px; /* İkon boyutu */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#musicList li .download-icon {
    right: 5px; /* Sağ boşluk */
}

#musicList li .youtube-icon {
    right: 30px; /* YouTube ikonunun download ikonundan 5px solunda */
}

@media only screen and (max-width: 600px) {
    #musicList li {
        font-size: 10px;
        padding: 8px 5px; /* Sol ve sağ boşluklar */
    }
}

#musicList li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#musicList li.selected {
    background-color: rgba(255, 255, 0, 0.2);
    border: 2px solid rgba(255, 255, 0, 0.5);
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 0.1);
    color: white;
}

#searchInput:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffcc00;
    border-radius: 10px;
}

.download-icon,
.youtube-icon {
    width: 50px;
    height: 50px;
}

#customFooter {
    width: 100%;
    height: 64px; /* Yeni footer yüksekliği */
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0.8;
}

#customFooter button {
    border-radius: 50%;
    background-color: #ffcc00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 25px; /* Buton boyutu %50 daha küçük */
    height: 25px; /* Buton boyutu %50 daha küçük */
    margin: 5px;
    border: none;
    cursor: pointer;
    background-size: cover;
}

#playButton,
#pauseButton,
#stopButton,
#nextButton,
#prevButton {
    width: 30px; /* Buton boyutu %50 daha küçük */
    height: 30px; /* Buton boyutu %50 daha küçük */
}

#playButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='30px' height='30px'%3E%3Cpath d='M8 5v14l11-7z' /%3E%3C/svg%3E");
}

#pauseButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='30px' height='30px'%3E%3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z' /%3E%3C/svg%3E");
}

#stopButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='30px' height='30px'%3E%3Cpath d='M6 6h12v12H6z' /%3E%3C/svg%3E");
}

#nextButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='30px' height='30px'%3E%3Cpath d='M12 12l-6-6v12zM14 5v14l6-6z' /%3E%3C/svg%3E");
}

#prevButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='30px' height='30px'%3E%3Cpath d='M10 12l6 6V6zM10 19h4V5h-4v14z' /%3E%3C/svg%3E");
}

#customFooter button:hover {
    background-color: #ffd633;
}
