header {
    background-image: url('images/header.jpg');
    padding: 20px; /* Mobil cihazlarda daha az boşluk */
    text-align: center; /* Başlığı merkezle */
    color: white;
    margin-bottom: 20px;
    position: relative;
}

.container-wrapper {
    display: flex;
    flex-direction: column; /* Mobil cihazlarda sütun şeklinde görüntüle */
    align-items: center; /* İçeriği merkezle */
}

.search-box {
    position: relative; /* Mutlak pozisyon yerine göreceli pozisyon */
    margin-top: 20px; /* Mobil cihazlarda daha fazla boşluk */
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%; /* Mobil cihazlarda daha uygun genişlik */
    max-width: 300px; /* Maksimum genişlik belirleme */
}

input[type="submit"] {
    margin-top: 10px; /* Mobil cihazlarda daha fazla boşluk */
}

h1 {
    margin: 0; /* Başlığın etrafındaki boşlukları kaldır */
}
