.sagkonteyner {
    background-color: black;
    width: calc(40% - 20px); /* Sağ konteynerin genişliği */
    padding: 20px;
    margin-left: 20px; /* Sağ ve sol tarafta boşluk bırak */
    border-radius: 10px;
    color: white;
    position: relative;
}

.sari-konteyner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 10px;
    color: black;
    padding: 20px;
}

.sari-konteyner:nth-child(1) {
    background-image: url('images/01.png');
    background-size: cover;
    top: 5px;
    left: 5px;
    right: calc(50% + 5px);
    bottom: calc(50% + 5px);
}

.sari-konteyner:nth-child(2) {
    background-image: url('images/02.png');
    background-size: cover;
    top: 5px;
    left: calc(50% + 5px);
    right: 5px;
    bottom: calc(50% + 5px);
}

.sari-konteyner:nth-child(3) {
    background-image: url('images/03.jpg');
    background-size: cover;
    top: calc(50% + 5px);
    left: 5px;
    right: calc(50% + 5px);
    bottom: 5px;
}

.sari-konteyner:nth-child(4) {
    background-image: url('images/04.png');
    background-size: cover;
    top: calc(50% + 5px);
    left: calc(50% + 5px);
    right: 5px;
    bottom: 5px;
}
