.sagkonteyner {
    background-color: black;
    width: 100%; /* Mobil cihazlarda tam genişlik */
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px; /* Mobil cihazlarda daha fazla boşluk */
}

.sari-konteyner {
    background-size: cover;
    border-radius: 10px;
    color: black;
    padding: 20px;
    margin-bottom: 20px; /* Mobil cihazlarda daha fazla boşluk */
}

.sari-konteyner:nth-child(1),
.sari-konteyner:nth-child(2),
.sari-konteyner:nth-child(3),
.sari-konteyner:nth-child(4) {
    width: 48%; /* Mobil cihazlarda daha uygun genişlik */
    margin-right: 2%; /* Mobil cihazlarda daha az boşluk */
    margin-left: 0; /* Sol boşluk kaldırıldı */
    position: static; /* Mutlak pozisyon kaldırıldı */
}
