.container-wrapper {
    display: flex;
    justify-content: center; /* İçerikleri sayfanın ortasına hizala */
    margin: 0 20px; /* Sağ ve sol tarafta boşluk bırak */
}

.solkonteyner {
    background-color: black;
    width: calc(35% - 20px); /* Sol konteynerin genişliği */
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-right: 20px; /* Sağ ve sol tarafta boşluk bırak */
    overflow-y: auto;
    max-height: 800px; /* İçerik konteynırının maksimum yüksekliği */
}

.inner-container {
    background-color: #F0F8FF; /* Sarı arkaplan rengi */
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    position: relative; /* Konumlandırma için */
    max-height: 60px;
}

.inner-container img {
    width: 96px; /* Resim genişliği */
    height: auto; /* Yükseklik otomatik */
    margin-right: 5px; /* Sağ kenardan boşluk */
    margin-left: -18px;
    border-radius: 5px; /* Köşe yuvarlaklığı */
    object-fit: cover; /* Resmi içeri sığdır */
}

.inner-container h2 {
    margin-left: 5px; /* Resimden sonra başlığa boşluk */
}

audio {
    margin-left: auto;
}
