/* banner.css */

@keyframes colorChange {
  0% { color: #FF0000; } /* Kırmızı */
  16.66% { color: #FFA500; } /* Turuncu */
  33.33% { color: #FFFF00; } /* Sarı */
  50% { color: #008000; } /* Yeşil */
  66.66% { color: #0000FF; } /* Mavi */
  83.33% { color: #4B0082; } /* Mor */
  100% { color: #FF00FF; } /* Pembe */
}

.banner-text span {
  animation: colorChange 4s infinite;
}

/* Tekrarlanan yanıp sönme efekti */
.banner-text span:nth-child(1) { animation-delay: 0s; }
.banner-text span:nth-child(2) { animation-delay: 0.5s; }
.banner-text span:nth-child(3) { animation-delay: 1s; }
.banner-text span:nth-child(4) { animation-delay: 1.5s; }
.banner-text span:nth-child(5) { animation-delay: 2s; }
.banner-text span:nth-child(6) { animation-delay: 2.5s; }
.banner-text span:nth-child(7) { animation-delay: 3s; }
.banner-text span:nth-child(8) { animation-delay: 3.5s; }
.banner-text span:nth-child(9) { animation-delay: 4s; }
.banner-text span:nth-child(10) { animation-delay: 4.5s; }
